#footer{
    margin-top: 10px;
    background-color: white;
    border: 1px solid lightgray;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#insta{
    font-size: 35px;
    color: hotpink;
    margin-right: 5px;
}
#youtube{
    font-size: 35px;
    color: rgb(206, 9, 9);
    margin-right: 5px;
}
#twet{
    font-size: 35px;
    color: rgb(9, 108, 206);
}